<!DOCTYPE html>
<html>
<head>
  <title>Rollenspiel</title>
  <%= stylesheet_link_tag    "rollenspiel/application", media: "all" %>
  <%= javascript_include_tag "rollenspiel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
